body {
  font-family: sans-serif;
  background-color: #FAFAFA;
  //background-image: url("moonlight.jpg");
  //background-repeat: no-repeat;
  //background-size: cover;
}

.primary-button {
  border: none;

  color: white;
  background-color: #8E1CCC;

  border-radius: 0.7em;
  padding: 0.8em;
  font-size: 12pt;
  width:100%;
}

.primary-button:active {
  background-color: #48286D;
  border: none;
}

.primary-button:hover {
  cursor:pointer;
}

.secondary-button {
  border: none;

  color: white;
  background-color: #F8286D;

  border-radius: 0.7em;
  padding: 0.8em;
  font-size: 12pt;
  width:100%;
}

.secondary-button:active {
  background-color: #A8246A;
  border: none;
}

.secondary-button:hover {
  cursor:pointer;
}

input[type="text"], input[type="password"]{
  border:#DDDDDD 1px solid;
  outline:none;

  border-radius: 0.7em;
  padding: 0.8em;
  font-size:12pt;

  box-sizing: border-box;
  width:100%;
  margin:1em 0em;
}

/*input:focus::placeholder {
    color:    #FFFFFF;
}*/

input[type="text"]:focus, input[type="password"]:focus {
  border:#8E1CCC 1px solid;
  outline:none;
}

textarea {
  resize:vertical;
  outline:none;
  border:#DDDDDD 1px solid;

  border-radius: 0.7em;
  padding: 0.8em;
  font-size:12pt;
}

textarea:focus {
  border:#8E1CCC 1px solid;
}

h1 {
  font-size: 45pt;
}

.login-box {
  padding:1em;
  width:80%;
  max-width: 500px;
}


a {
  text-decoration: none;
  //color: #F8286D;
  color: #F8286D;
  //color: #8E1CCC;
}

a:hover {
  text-decoration:underline;
}
